[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
evaluate = "*"
transformers = "*"
torch = "*"
bentoml = "*"
tqdm = "*"
scikit-learn = "*"

[dev-packages]

[requires]
python_version = "3.9"
